In questo notebook viene creato il dataframe "completo"

In [1]:
import pandas as pd
import numpy as np

In [40]:
dftomato = pd.read_csv(r"dftomato.csv")
dffinale = pd.read_csv(r"dffinale.csv")
dfrating = pd.read_csv(r"netagg_rating_clean")

In [41]:
dffinale.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14545 entries, 0 to 14544
Data columns (total 12 columns):
Id              14545 non-null int64
Movie           14545 non-null object
Year            14545 non-null int64
tconst          14545 non-null object
actors          14063 non-null object
awards          14063 non-null object
director        12869 non-null object
genre           14263 non-null object
index           14545 non-null object
metascore       3882 non-null float64
tomato_meter    30 non-null float64
writer          12110 non-null object
dtypes: float64(2), int64(2), object(8)
memory usage: 1.3+ MB

In [42]:
dftomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7371 entries, 0 to 7370
Data columns (total 2 columns):
rating    7371 non-null int64
tconst    7371 non-null object
dtypes: int64(1), object(1)
memory usage: 115.2+ KB

In [43]:
dfrating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480189 entries, 0 to 480188
Data columns (total 4 columns):
id_Net        480189 non-null int64
avg_ratNet    480189 non-null float64
std_devNet    480189 non-null float64
count_Net     480189 non-null int64
dtypes: float64(2), int64(2)
memory usage: 14.7 MB

In [53]:
a=dfrating['id_Net'].value_counts()>1
a.value_counts()

False    480189
Name: id_Net, dtype: int64

In [13]:
dfcompleto = dfrating.merge(dffinale, left_on = ['_id'], right_on = ['Id'])

In [14]:
dfcompleto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2601 entries, 0 to 2600
Data columns (total 16 columns):
_id             2601 non-null int64
avgRating       2601 non-null float64
StdDev          2601 non-null float64
count           2601 non-null int64
Id              2601 non-null int64
Movie           2601 non-null object
Year            2601 non-null int64
tconst          2601 non-null object
actors          2519 non-null object
awards          2519 non-null object
director        2275 non-null object
genre           2556 non-null object
index           2601 non-null object
metascore       690 non-null float64
tomato_meter    4 non-null float64
writer          2150 non-null object
dtypes: float64(4), int64(4), object(8)
memory usage: 345.4+ KB