In questo notebook Ã¨ stato modificato il dataframe dftomato

In [14]:
import omdb 
from omdb import OMDBClient
import pandas as pd
import  numpy as np
client = omdb.OMDBClient(apikey='400049cf')
omdb.set_default('apikey', '400049cf')
#a = omdb.get(title='Spider-man', year=2002, fullplot=True, tomatoes=True)
df = pd.read_csv(r"dffinale.csv")
dftomato = pd.read_csv(r"dftomato.csv")

In [15]:
dftomato.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7371 entries, 0 to 7370
Data columns (total 2 columns):
rating    7371 non-null object
tconst    7371 non-null object
dtypes: object(2)
memory usage: 115.2+ KB

In [16]:
df = df[['index']]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14545 entries, 0 to 14544
Data columns (total 1 columns):
index    14545 non-null object
dtypes: object(1)
memory usage: 113.7+ KB

In [19]:
df['indicedf']=df.index
indicedrop=dftomato.merge(df, left_on = ['tconst'], right_on = ['index'])['indicedf']

In [20]:
df = df.drop(index = indicedrop) #levo le righe che ho gia trovato

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7174 entries, 0 to 14544
Data columns (total 2 columns):
index       7174 non-null object
indicedf    7174 non-null int64
dtypes: int64(1), object(1)
memory usage: 168.1+ KB

In [36]:
l=list(df["index"])

In [37]:
diz={}
for i in l:
    d ={}
    if (len(omdb.imdbid(i, fullplot=False, tomatoes=True)['ratings'])>1):
        d['rating'] = omdb.imdbid(i, fullplot=False, tomatoes=True)['ratings'][1]['value']
        diz[i] = d

In [38]:
diz

{}

In [39]:
dfappoggio=pd.DataFrame.from_dict(diz, orient = 'index' )

In [40]:
dfappoggio['tconst'] = dfappoggio.index #l'indice del df corrisponde a tconst

In [41]:
dfappoggio

Empty DataFrame
Columns: [tconst]
Index: []

In [42]:
dfappoggio = dfappoggio[['rating', 'tconst']]

KeyError: "['rating'] not in index"

In [43]:
dftomato

     rating     tconst
0       88%  tt0027336
1       78%  tt0027552
2       64%  tt0222850
3       65%  tt0097958
4       89%  tt0423409
5       71%  tt0048960
6       96%  tt0026029
7       66%  tt0051418
8       93%  tt0054389
9      100%  tt0068273
10      77%  tt0077742
11      23%  tt0079758
12      90%  tt0086961
13      80%  tt0107007
14      82%  tt0119177
15      92%  tt0138097
16      20%  tt0173714
17      93%  tt0181733
18      34%  tt0304328
19      82%  tt0318068
20      72%  tt0335013
21      88%  tt0353489
22      38%  tt0363768
23      70%  tt0079123
24      93%  tt0097757
25      80%  tt0105265
26      71%  tt0213682
27      89%  tt0278102
28      62%  tt0286716
29      82%  tt0079219
...     ...        ...
7341    40%  tt0457993
7342   100%  tt0458425
7343     6%  tt0463379
7344   100%  tt0467468
7345    80%  tt0473578
7346    26%  tt0478038
7347    15%  tt0478783
7348     9%  tt0479095
7349    57%  tt0480152
7350    68%  tt0484848
7351    68%  tt0486094
7352    15%  tt0491659
7353    25%  tt0598770
7354    73%  tt0665723
7355    93%  tt0775476
7356    16%  tt0784992
7357    43%  tt0808314
7358    64%  tt0877370
7359    89%  tt0884842
7360    71%  tt0884859
7361    60%  tt0891550
7362    85%  tt1125856
7363    83%  tt1125863
7364    72%  tt1125865
7365    57%  tt1125875
7366    57%  tt1169225
7367    91%  tt1195751
7368    83%  tt1460003
7369    83%  tt1813354
7370    85%  tt2060477

[7371 rows x 2 columns]

In [ ]:
dftomato=pd.concat([dftomato,dfappoggio])

In [50]:
dftomato['rating'] = dftomato['rating'].str.replace("%", "")

In [53]:
dftomato['rating'] = dftomato['rating'].str.replace("/100", "")

In [55]:
dftomato['rating'] = dftomato['rating'].astype(int)

In [44]:
dftomato.to_csv("dftomato.csv", index=False)